/*   reset   */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}
/*------------------desktop-------*/





/*------------------top-section-------*/




.top {
  background-color:#f9813a;
}
/*------------------ nav-bar-------*/
#active {
  font-weight: bolder;
  color:white;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 35px 0;
}
.nav-bar h1 {
  font-size: 3vw;
  margin-left: 2vw;
  cursor:pointer;
}
#logo {
  width: 135px;
  height: auto;
  margin-left: 35px;
}

.navbar-links ul li {
  text-decoration: none;
  color: white;
  list-style: none;
  font-weight: 200;
  font-size: 1.2vw;
  display: inline-block;
  margin-left: 6vw;
  cursor: pointer;
}
ul li:nth-child(6) {
  margin-right: 3vw;
}
#hamburger {
  position: absolute;
  right: 5%;
  cursor: pointer;
  display: none;
}
.banner-img {
  width: 75%;
  padding-top: 5.5vw;
}
.banner-txt {
  color: white;
  font-size: 12vw;
  text-align: end;
  padding-bottom: 10vw;
}
.banner-txt.active {
  display: none;
}

/*-------------------grid deign------------------*/
.grid img {
  width: 20vw;
}
.about p {
     font-weight: lighter;
     
}

.grid {
  padding: 3.5% 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}


.contact-us h2{
  font-size: 4vw;
  font-weight: bolder;
  padding-top: 3vw;
  padding-bottom: 1.7vw;

}

.contact-us input {
  box-sizing: border-box;
font: inherit;
margin: 0;
display: block;
width: 100%;
height: 38px;
margin-bottom: 10px;
color: #333;

background-color: #fff;
border: 1px solid #ccc;
line-height: 140%;
text-align: left;
padding: 15px;
font-size: 16px;
} 

.contact-us p {
      padding-top: 1.8vw;
      font-size: 2vw;
}




.footer {
  background-color: black;
  height: 50vh;
}

.product.active {
  display: none;
}


/*--------------------- tablet----------------------------    */

/*----------------------------- at mid screen------------3 column break-----*/

@media screen and (max-width: 992px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
    gap: 2.5vw;
  }

  .grid img {
    width: 100%;
    
  }




}

/*-----------------------------tablet screen-----------------2 column break------------*/



@media screen and (max-width: 768px) {

 
  .grid {
    display: grid;
    grid-template-columns:1fr 1fr;
   
  }




  #hamburger {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-links li {
    font-size: 7vw !important;

    padding-top: 2vw;
    font-weight: bolder;
    padding-left: 80%;
  }

  .navbar-links.active {
    display: flex;
    text-align: center;
  }

  .banner-img.active {
    display: none;
  }

  .banner-txt.active {
    display: none;
  }

  .product.active {
    display: none;
  }

  .right.active {
    display: none;
  }

  .footer {
    flex-direction: column;
    
  }
  .right ul {
    text-align: left !important;
    margin-top: 5vw;
  }

  
  
}

/*-----------------------------mobile screen------------------1 column break-----------*/
@media screen and (max-width: 480px) {
  .grid {
    display: grid;
    grid-template-columns:1fr;
   
  }

 

  .product {
    padding-top: 10%;
  }

  .cotact-us h2 {
     font-size: 60px;
  }

  .footer {
    flex-direction: column-reverse;
    
  }
  .right ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 8vw;
  }

  .right ul li{
    font-size: 25px !important;
    margin-top: 5vw;
  }

  .footer-logo {
    margin-top: 20px;
  }
  .left {

    margin-bottom: 10vw;
   }
  
}


/*--------------------------hover images---------------------------------------------------------*/

.grid .img {
  position: relative;

}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition:  ease;
  
}

.img:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 1.3vw;
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 200;
}


/*--------------------------footer design---------------------------------------------------------*/

.icons i {
  width: 6vw;
  font-size: 3vw;
  margin-top: 1.5vw;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 4.5vw 3vw 4.5vw 5vw;
  background-color:#f9813a;
  height: 40%;
  
}

.right ul li {
  font-size: 3vw;
  font-weight:bold ;
  display: inline-block;
  color: black;
  padding-right: 3.5vw ;
  
  cursor: pointer;
}
.right ul {
   text-align: end;
}


.right ul li:hover {
  color: white;
}

.left h1{
  color: white;
  font-size: 3vw;
  cursor: pointer;
  color: black;
}
.footer.active {
  display: none;
}